{%extends 'DjangoApplication//base_layout.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'DjangoApplication/css/more.css' %}">
{% endblock %}
{% block header %}
{% include 'DjangoApplication/header.html' %}
{% endblock %}

{% block content %}
<body class="min-vh-100 d-flex flex-column">

<main class="my-auto">
    <div class="container">
        <h1 class="page-title">Coming Soon</h1>
        <p>Stay connected</p>
    </div>
</main>
</body>
{% endblock %}