{%extends 'DjangoApplication//base_layout.html' %}
{% load static %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'DjangoApplication/css/news_detail.css' %}">
{% endblock %}

{% block content %}
<div class="news-container">
    <div class="news">
        <h1 class="news-title">{{ news.title }}</h1>
        <p class="news-category">{{ news.category }}</p>
        <p><img class="news-photo" src="{{ news.photo.url }}"></p>
        <p class="news-content">{{ news.content }}</p>
        <p class="news-date">Опубликована в: {{ news.create_at }}</p>
        <p class="news-author">Автор: {{ news.autor }}</p>

        <a href="{% url 'news_update' news.id %}" class="edit-button">Изменить</a>
        <a href="{% url 'news_delete' news.id %}" class="edit-button">Удалить</a>
    </div>
</div>

{% endblock %}