body {
  font-family: 'Karla', sans-serif;
  background-image: url("https://img1.akspic.ru/previews/0/6/5/7/87560/87560-gorizont-bashnya-nyu_jork-gorodskoj_pejzazh-parizh-550x310.jpg");
  -webkit-backdrop-filter: brightness(0.5) blur(8px);
  backdrop-filter: brightness(0.5) blur(8px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  padding-bottom: 75px; }
  @media (min-width: 768px) {
    body {
      padding-bottom: 110px; } }

.page-title {
  font-size: 80px;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #3eacf2, #f2efff);
  text-shadow: text-shadow: text-shadow: 1px 1px 20px #4a4c4e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;