.features {
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px; /* Максимальная ширина блока, чтобы ограничить ширину контента */
}

.features h1 {
    color: #721c24;
}

.features p {
    color: #721c24;
    margin-bottom: 20px;
}

.features button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
